@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(to right, #1e1e2e, #3c1361, #663399);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
    margin: 0;

}


